
.fas {
	margin-right: 12px
}


.row-disciplina{
	height:100%;
	background: white;
	border-radius: 4px;	
}
.dropd {
	text-align:center;
	background: white;
	border-radius: 4px;
	width: 99%;
	margin-left:1px;
	margin-top:20px;
	height: 35px;

}

.nav-item{
	width: 100%;
	margin-left: 1px;
	border-radius: 4px;
	margin-top: 6px;
}
.nav-link{
	border-radius: 4px;
	width: 100%;
	height: 35px;
}
.row{
	background:#5F9EA0 ;
}
.btn-group{
	text-align: center;
	border-radius: 4px;
	width: 80%;
	margin-left:20px;
	margin-right:10px;
	height: 35px;
}