<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	
 
<div style=" background:#C0C0C0; width: 1000px"  class=" row-disciplina">
  
  
  <div style=" background:#C0C0C0; width: 1000px" >

  <table class="table">

    <tr style="width: 100%; height: 40px;">
     
      <th scope="col">Sistema Web </th>
     <tr style="font-size: 10px">
      <th scope="col">First</th>
    </tr>  
  </table>
 
 </div>
  <div >

  <table class="table">

    <tr style="width: 100%; height: 40px">
     
      <th scope="col">Sistema Web </th>
     <tr style="font-size: 10px">
      <th scope="col">First</th>
    </tr>  
  </table>
 
 </div>
  <div  >

  <table class="table">

    <tr style="width: 100%; height: 40px">
     
      <th scope="col">Sistema Web </th>
     <tr style="font-size: 10px">
      <th scope="col">First</th>
    </tr>  
  </table>
 
 </div>
  <div >

  <table class="table">

    <tr style="width: 100%; height: 40px">
     
      <th scope="col">Sistema Web </th>
     <tr style="font-size: 10px;">
      <th scope="col">First</th>
    </tr>  
  </table>
 </div>
 
  <div >

  <table class="table">

    <tr style="width: 100%; height: 40px">
     
      <th scope="col">Sistema Web </th>
     <tr style="font-size: 10px">
      <th scope="col">First</th>
    </tr>  
  </table>
 
 </div>
 
 </div>

 
  



</html>