<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<style type="text/css">
		.text-center{
		 color: white;
		}
		.matricula{
		 color: red;
		}
	</style>
	
<div id="idmenu">
  <form method="GET" class="form-horizontal" action="/Aluno" th:object="${aluno}">
	   	     <div class ="form-group">
	            <div class="col-sm-4"> 
	             <div  class="input-group">
	                
	             </div>
	            </div>
	   	     </div>
	   	  </form>
	   	  <table>
	   	    <tbody>
	   	       <tr th:each="aluno : ${aluno}">
	   	          <td class="text-center" th:text="${aluno.nome}">1</td>
	   	       </tr>
	   	       <tr th:each="aluno : ${aluno}">
	   	          <td class="text-center" th:text="${aluno.email}"></td>
	   	       </tr>
	   	       <tr th:each="aluno : ${aluno}">
	   	          
	   	          <td class="text-center matricula" th:text="${aluno.matricula}"></td>
	   	       </tr>
	   	       <tr th:each="aluno : ${aluno}">
	   	          <td class="text-center" th:text="${aluno.curso}"></td>
	   	       </tr>
	   	    </tbody>
	   	  </table>

 <div class="dropd">
  <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Seleciona aqui outro curso
  </button>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    
  </div>
</div>
		
	</div>

 <div th:insert="MenuLink"></div>


</html>