<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<style type="text/css">
		.text-center{
		 color: white;
		}
		.matricula{
		 color: red;
		}
		.md-form{
		margin-left:8px;
		width: 80%;
		
		}
	</style>
	<SCRIPT type="text/javascript">
	$(document).ready(function() {
		$('.mdb-select').materialSelect();
		});
	</SCRIPT>
	
<div id="idmenu">
  <form method="GET" class="form-horizontal" action="/Aluno" th:object="${aluno}">
	   	     <div class ="form-group">
	            <div class="col-sm-4"> 
	             <div  class="input-group">
	                
	             </div>
	            </div>
	   	     </div>
	   	  </form>
	   	  <table>
	   	    <tbody>
	   	       <tr th:each="aluno : ${aluno}">
	   	          <td class="text-center" th:text="${aluno.nome}">1</td>
	   	       </tr>
	   	       <tr th:each="aluno : ${aluno}">
	   	          <td class="text-center" th:text="${aluno.email}"></td>
	   	       </tr>
	   	       <tr th:each="aluno : ${aluno}">
	   	          
	   	          <td class="text-center matricula" th:text="${aluno.matricula}"></td>
	   	       </tr>
	   	       <tr th:each="aluno : ${aluno}">
	   	          <td class="text-center" th:text="${aluno.curso}"></td>
	   	       </tr>
	   	    </tbody>
	   	  </table>

 <div class="btn-group">
       <select class="mdb-select nav-item">
       
			  <option value="" disabled selected><p id="id-p">Seleciona aqui outro curso <p></option>
			  <option th:each="aluno :${aluno}" th:text="${aluno.curso}"></option>
			  
</select> 
</div>
		
</div>
		
	

 <div th:insert="MenuLink"></div>


</html>