<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	

<div class="col-md-3  alert alert-success ">


		<ul class="nav flex-column">
			<li class="nav-item "><a class="nav-link " href="#">Minhas
					Diciplinas</a></li>
			<li class="nav-item  "><a class="nav-link" href="#">Informações
					Pessoais</a></li>

			<li class="nav-item "><a class="nav-link " href="#">Mensagens</a>
			</li>

			<li class="nav-item"><a class="nav-link" href="#">Histórico
					Escolar</a></li>

			<li class="nav-item"><a class="nav-link " href="#">Financeiro</a>
			</li>

			<li class="nav-item"><a class="nav-link s" href="#">Boletins</a>
			</li>

		
		</ul>
	

</div>

</html>